<!DOCTYPE html>
<html>
<head>
  <title>SunrizeBadge</title>
</head>
<body>

<%= yield %>

<script class='sunrize'>
Sunrize = {
  user: 'osahyoun'
};
</script>

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>

</body>
</html>
